::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #121829;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 20px;
}

h1 {
  color: #f9c74f;
  font-size: 1.7rem;
  margin-bottom: 25px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
  text-align: center;
}

h2 {
  color: #f39c12;
  font-size: 1.2rem;
  margin-bottom: 12px;
  text-align: left;
}

p {
  line-height: 1.7;
  margin: 12px 0;
}

.section {
  background: #1b2234;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.section p[style*="color: red"] {
  color: #ff4081 !important;
  font-weight: bold;
  margin-bottom: 20px;
}

a {
  color: #58a6ff;
  text-decoration: none;
}

a:hover {
  color: #90caf9;
}

.highlight {
  color: #58a6ff;
  font-weight: bold;
}

strong {
  color: #90caf9;
}



@media (max-width: 768px) {
  .container {
    padding: 65px 15px;
    margin-top: 65px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

